/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

#contentAreaDownloadsView {
  padding: 18px;
}

#downloadsListBox:empty {
  border-color: transparent;
  background-color: transparent;
}

.downloadButton:not([disabled="true"]):hover,
.downloadButton:not([disabled="true"]):hover:active,
.downloadButton:not([disabled]):hover:active {
  background: transparent;
  border: none;
}

#downloadsListEmptyDescription {
  margin: 1em;
  text-align: center;
  color: var(--in-content-deemphasized-text);
}

.downloadMainArea{
  width: 85%;
  overflow: hidden;
}

#downloadsListBox {
  border: none;
  border-radius: 0;
  background: none;
}

#downloadsListBox > richlistitem {
  border-radius: 4px;
  margin-bottom: 8px;
}

#downloadsListBox > richlistitem:not([selected]):hover {
  background-color: var(--in-content-box-background);
}

#downloadsListBox > richlistitem {
  border-radius: 0 !important;
  border-bottom: 1px solid var(--card-outline-color);
  margin: 0 !important;
}

#contentAreaDownloadsView {
  background-color: var(--in-content-box-background-odd);
  padding: 0 !important;
}

@media (prefers-reduced-motion) {
  #downloadsListBox > richlistitem {
    transition: none;
  }
}